*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    display: flex;
    height: 100%;
    width: 100%;
}
.outter-most-container{
    display: flex;
    width: 100%;
    height: 100vh;

}
.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('./unsplash.jpg');
    height: 100%;
    width: 100%;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    align-items: center;
    flex: 1;
}
footer{
    color: rgb(228, 223, 223);
    align-self: center;
    font-size: small;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 21, 21, 0.5);
    padding: 10px;
    
}
.content-container > img{
    max-width: 20%;
}

.content-container > h2{
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 75px;                                            
}

.right-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    background-color: #f9f9f9;
    
}

.right-container > .first-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    max-width: 620px;
    align-content: flex-end;
    margin-bottom: 10px;
}

.first-container > p{
    padding: 10px;
}

.form-container{
    width: 100%; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border: none;
    background-color: white;
    box-shadow: 15px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}
.form-container > h2{
    font-size: 24px;
    margin-bottom: 20px;
    
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 5px;
}
.last-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    
}

button{
    color: white;
    background-color: #596D48;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    max-width: 30%;
    margin-bottom: 15px;
}

.highlight{
    color: #596D48;
    font-weight: bold;
}